/* Nav.module.css */
.navbar {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  
  margin: 0;
}
.logo{
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.rightContent {
  display: flex;
  align-items: center;
}

.userIcon {
  margin: 0;
  margin-right: 5px;
}

.username {
  margin: 0;
  margin-bottom: 5px;
}
